.asoundrc
rmate .babel.json
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbus/
Documents/
Downloads/
.fontconfig/
.forever/
.gconf/
.gitconfig
.gstreamer-0.10/
.local/
logs/
.minecraft/
mongo4pi/
Music/
.node-gyp/
node_latest_armhf.deb
node_modules/
.node_repl_history
.npm/
Pictures/
.pip/
pix -> /home/pi/Adafruit_DotStar_Pi/
.pki/
Public/
python/
.ssh/
.themes/
.thumbnails/
.v8flags.4.6.85.32.pi.json
.WolframEngine/
.Xauthority
.xsession-errors
.xsession-errors.old
